


body {
    overflow-y: scroll;
    justify-content: center;
    margin:auto;
    margin-bottom: 50px;
  }
  
  .reg {
    margin-top:20px;
    max-width: 900px; /* Povećajte širinu forme */
    margin: 20px auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #7cd9b7;
    background-color: #fff;
    overflow-y: scroll;
    margin-bottom: 70px;
    height: 600px;

   
  }
  
  .formAuth {
    
    margin-top: 10px;
    margin-bottom: 30px;
    margin:auto;
    display:grid;
    grid-template-columns: 400px 400px ;
  }
  .firstpart{
    display:grid;
    grid-template-columns: 400px 400px ;
  }
  .secondepart{
    display:grid;
    place-items: center;
    
  }
  
  .form-group {
    min-width:300px;
    max-width:500px;
    margin: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  Input[type="text"],
  Input[type="password"] {
    width: 100%;
    margin:auto;
    padding: 10px;
    border: 1px solid #4fe5ae;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  Input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
     margin:auto;
  }
  
  Input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    color: #555;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  form{
        display: grid;

  }

  .fields{
    width: 300px;
    justify-content: center;
    text-align: center;
    margin:auto
  }
  input[type="radio"]{
    justify-content: center;
    margin:auto;
    text-align: center;
    font-family: monospace;
    text-decoration: #4fe5ae;
  }

  input[type="button"]{
   width:150px;
   text-align: center;
   margin:auto;
   grid-column: span 2;
   text-align: center;
 
  }
  .loginForm{
     display: grid;
     justify-content: center;
     text-align: center;

  }
  